<div class="header">
    <div class="headshot"><img src='../../assets/headshot.jpg'></div>
    <div class="title">
        <img src='../../assets/title.svg'>
        <nav>
            <a routerLink="/about" routerLinkActive="active">about</a>
            <a routerLink="/projects" routerLinkActive="active">projects</a>
            <a routerLink="/blog" routerLinkActive="active">blog</a>
        </nav>
    </div>
    <div class="connect">
        <a href="mailto:ericamann49@gmail.com" target="_top"><span class="fa fa-envelope"></span></a>
        <a href="https://www.linkedin.com/in/erica-christensen-mann-b4539233/" target="_blank"><span class="fa fa-linkedin"></span></a>
        <a href="https://github.com/ericamann" target="_blank"><span class="fa fa-github"></span></a>
        <a href="https://www.instagram.com/erica_runs/" target="_blank"><span class="fa fa-instagram"></span></a>
        <!--<div class="fa fa-strava"></div>-->
    </div>
</div>