<div class="about">
    <div class="left-col">
        <p>Bacon ipsum dolor amet landjaeger cow tail kielbasa beef ribs pork. Beef sausage ham rump kevin filet mignon, ham hock pastrami frankfurter prosciutto strip steak flank shankle jerky shank. Biltong kielbasa corned beef boudin, meatball flank leberkas ball tip turkey shankle pastrami alcatra hamburger salami. Beef doner capicola ribeye sirloin pastrami. Buffalo chuck spare ribs strip steak frankfurter tail tenderloin chicken hamburger kielbasa. Corned beef picanha shankle ball tip turkey. Hamburger ribeye brisket meatloaf swine.</p>
        <p>Beef tri-tip meatball shank, alcatra pig chicken jowl sirloin cow. Salami beef ribs biltong pork chop, ground round shank pork belly ham hock picanha beef filet mignon swine cupim. Kielbasa kevin beef rump, porchetta spare ribs t-bone ham filet mignon prosciutto. Landjaeger pork tri-tip, tenderloin kielbasa tongue fatback capicola. Pork loin fatback tail, strip steak burgdoggen bacon turducken kielbasa short ribs tongue pork chop.</p> 
        <p>Strip steak porchetta ribeye sausage pastrami short ribs bacon jowl picanha kevin hamburger tenderloin tail rump chuck. Chuck jerky porchetta, ham shank pork frankfurter sirloin. Ribeye t-bone turkey venison ground round spare ribs short ribs. Hamburger frankfurter venison short ribs jerky.</p>
        <p>Pastrami tenderloin meatball pork, capicola ham ball tip venison strip steak hamburger cupim short loin t-bone alcatra. Drumstick venison tri-tip tenderloin andouille brisket. Sirloin beef ribs pig, kielbasa venison t-bone spare ribs leberkas salami pancetta meatloaf ham hock. Bresaola pork chop sirloin, tri-tip tongue brisket landjaeger ham salami alcatra frankfurter tenderloin short ribs beef ribs jerky. Short ribs drumstick meatball picanha chicken capicola.</p>
        <p>Boudin leberkas pig sausage jowl brisket venison beef pancetta burgdoggen, chuck pork belly alcatra sirloin. Corned beef bresaola pig short ribs landjaeger. Cow buffalo tenderloin, leberkas hamburger beef fatback cupim corned beef shoulder venison. Porchetta ball tip turducken, bacon pancetta hamburger tenderloin chuck spare ribs strip steak pork chop. Salami picanha chuck kevin chicken tail beef ribs.</p>
    </div>

    <div class="right-col">
        <iframe
            height='454'
            width='300'
            frameborder='0'
            allowtransparency='true'
            scrolling='no'
            src='https://www.strava.com/athletes/3223037/latest-rides/e76bbab68bb3335388a6b71d91208d9ce598acbb'>
        </iframe>
    </div>
</div>