/* Coolors Exported Palette - coolors.co/f7b2b7-f7717d-ffffff-d9d9d9-284b63 */

/* RGB */
$pink: rgba(247, 178, 183, 1);
$coral: rgba(247, 113, 125, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(217, 217, 217, 1);
$navy: rgba(40, 75, 99, 1);

$background: rgba(217, 217, 217, .3);